<div class="main-container">

    <h2 class="pl-3 pt-2">Nuevo cliente</h2>
    <div class="container py-4  container-border ">


        <form class="row">
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="bg-dark container-icon border border-dark input-group-text" for="nombre">
                            <i class="fas fa-user text-white form-ingreso-cliente-icon"></i>
                        </label>
                    </div>

                    <input type="text" placeholder="Ingrese nombre del cliente" class="border border-dark form-control py-4 "
                        id="nombre">
                </div>

                <div class="input-group mb-3 ">
                    <div class="  input-group-prepend">
                        <label
                            class=" container-icon input-group-text border phone-color border-dark" for="telefono"><i
                                class="text-white fas fa-phone-square-alt form-ingreso-cliente-icon "></i></label>
                    </div>

                    <input type="tel" placeholder="Ingrese numero de telefono" class="form-control py-4 border border-dark"
                        id="telefono">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="container-icon input-group-text border border-dark adress-color" for="direccion">
                            <i class="form-ingreso-cliente-icon text-white  fas fa-house-user" style="font-size: 1.8rem!important;"></i>
                        </label>

                    </div>
                    <input type="text" placeholder="Ingrese direccion" class="form-control py-4 border border-dark"
                        id="direccion">
                </div>

            </div>
            <div class="col-6">
                <div class="input-group mb-3 ">
                    <div class="input-group-prepend">
                        <label class="container-icon facebook-color input-group-text border-dark border" for="facebook">
                            <i class="text-white form-ingreso-cliente-icon fab fa-facebook-square"></i>
                        </label>
                    </div>
                    <input placeholder="Ingrese facebook" type="text" class="form-control py-4 border border-dark"
                        id="facebook">
                </div>
                <div class="input-group mb-3 ">
                    <div class="input-group-prepend">
                        <label class="container-icon instagram-color input-group-text border-dark border" for="instagram">
                            <i class="text-white form-ingreso-cliente-icon fab fa-instagram-square "></i>
                        </label>
                    </div>
                    <input type="text" placeholder="Ingrese instagram" class="form-control py-4 border border-dark"
                        id="instagram">
                </div>

                <div class="input-group  ">
                    <div class="input-group-prepend">
                        <label class="container-icon localidad-color input-group-text border-dark border" for="localidad">
                            <i class="text-white form-ingreso-cliente-icon fas fa-city size-localidad "></i>
                            
                        </label>
                    </div>
                    <select type="text"  class="select-height form-control border border-dark"
                        id="localidad">

                   
                    <option value="Caseros" selected>Caseros</option>
                    <option value="Ramos Mejia">Ramos Mejia</option>
                    <option value="Palomar">Palomar</option>
                    <option value="Santos Lugares">Santos Lugares</option>
                    <option value="Moron">Moron</option>
                    <option value="Ciudadela">Ciudadela</option>
 </select>
                </div>

              
            </div>
  <button type="submit" class=" mx-3  btn btn-success btn-block">Guardar</button>

        </form>
    </div>
</div>